variables:
    Solution: src/DotNext.sln
    TestFolder: src/DotNext.Tests
    TestProject: $(TestFolder)/DotNext.Tests.csproj
    InternetAccess: false
trigger:
    - master
    - develop
jobs:
    - job: Windows
      pool:
        vmImage: windows-2019
      steps:
        - task: UseDotNet@2
          inputs:
            packageType: 'sdk'
            version: '3.1.404'
        - task: DotNetCoreCLI@2
          inputs:
            command: 'restore'
            projects: '$(Solution)'
            feedsToUse: 'config'
            nugetConfigPath: 'NuGet.config'
            arguments: --configuration Debug
        - task: DotNetCoreCLI@2
          displayName: Test Debug
          inputs:
            command: test
            projects: $(TestProject)
            arguments: --configuration Debug --collect "Code coverage"
            nobuild: false
            testRunTitle: 'Debug on Windows'
            publishTestResults: true
            
    - job: Linux
      pool:
        vmImage: ubuntu-18.04
      steps:
        - task: UseDotNet@2
          inputs:
            packageType: 'sdk'
            version: '3.1.404'
        - task: DotNetCoreCLI@2
          inputs:
            command: 'restore'
            projects: '$(Solution)'
            feedsToUse: 'config'
            nugetConfigPath: 'NuGet.config'
            arguments: --configuration Debug
        - task: DotNetCoreCLI@2
          displayName: Test Debug
          inputs:
            command: test
            projects: $(TestProject)
            arguments: --configuration Debug --collect "Code coverage"
            nobuild: false
            testRunTitle: 'Debug on Linux'
            publishTestResults: true
